.getintouch {
    background-color: #e7526b;
    height: 400px;
    font-family: "Open Sans";
    color: white;
}

.getintouch__content {
    padding: 60px 180px;
}

.getintouch-content__heading {
    font-weight: bold;
    
}

.getintouch-content__text {
    padding: 28px 0;
    font-size: 15px;
}

.getintouch-content__email {
    color: white;
    text-decoration: underline;
    padding-top: 10px;
    font-size: 15px;
}