.heading {
    display: flex;
    background-color: white; 
    font-family: "Open Sans";
    justify-content: flex-start;
}   

.heading__image {
    background-size: cover;
    background-image: url("/image/Без-имени-5.png");
    padding: 250px 340px;
}

.heading__content {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    padding: 0px 90px;
}

.heading-content__header {
    font-weight: bold;
    font-size: 18px;
}

.heading-content__text {
    font-size: 17px;
    line-height: 25px;
    padding-top: 20px;
    padding-bottom: 35px;
}

.heading-content__text2 {
    font-size: 15px;
    line-height: 25px;
}

.heading__image2 {
    background-size: cover;
    background-image: url("/image/Без-имени-7.png");
    padding: 250px 340px;
}

.heading2{
    display: flex;
    background-color: white; 
    font-family: "Open Sans";
    justify-content: flex-end;
}   

